# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Java/Gradle/CLIPS specific
[*.{java,kt,clp,properties,xml,gradle,md}]
charset = utf-8

[*.java]
indent_style = space
indent_size = 4
ij_continuation_indent_size = 4

ij_java_align_multiline_parameters = false
ij_java_align_multiline_parameters_in_calls = false
ij_java_align_multiline_parenthesized_expression = false
ij_java_align_multiline_for = false

[*.clp]
charset = utf-8
